user www-data;
worker_processes auto;
pid /run/nginx.pid;
error_log /var/log/nginx/error.log;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}

http {
    server {
        listen 9100; # Listen for incoming HTTP requests on port 80
        server_name localhost; # Replace with your domain or IP

        location /metrics {
            proxy_pass http://172.17.0.1:9100/metrics; # Forward requests to the backend server
	    }
    }
}
