version: '3'
services:
  minio:
    image: minio/minio
    container_name: minio_server
    ports:
      - "9000:9000" # S3 API port
      - "9001:9001" # Console API port
    volumes:
      - minio_data:/data
    environment:
      # MINIO_OPTS: --certs-dir /root/certs
      # MINIO_VOLUMES: https://
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "admin1234"
    command: server --console-address ":9001" /data
    networks:
      - public
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

volumes:
  minio_data:

networks:
  public:
    driver: overlay
    external: true